@using Blazorise.Components
@using FrontStore.Model;
@using Newtonsoft.Json
@inject ILogger<Product> Logger;


<h3>
    @if (Product.Id == 0)
    {
        <span>Add Product</span>
    }
    else
    {
        <span>Edit Product</span>
    }
</h3>

<EditForm Model="@Product" OnValidSubmit="SaveProduct">

    <DataAnnotationsValidator />
    


    <div class="form-group">
        <label for="name">Name</label>
        <InputText id="name" class="form-control mb-2" @bind-Value="Product.Name" />
        <ValidationMessage For="@(() => Product.Name)" />
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <InputText id="description" class="form-control mb-2" @bind-Value="Product.Description" />
        <ValidationMessage For="@(() => Product.Description)" />
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <InputNumber id="price" class="form-control mb-2" @bind-Value="Product.Price" />
        <ValidationMessage For="@(() => Product.Price)" />
    </div>

    <div class="form-group">
        <label for="quantity">Quantity</label>
        <InputNumber id="quantity" class="form-control mb-2" @bind-Value="Product.Quantity" />
        <ValidationMessage For="@(() => Product.Quantity)" />
    </div>





    <DropdownList TItem="Category" TValue="int"
                  Data="@Categories"
                  TextField="@((item)=>item.Name)"
                  ValueField="@((item)=>item.Id)"
                  SelectedValues="selectedCategories"
                  SelectedValuesChanged="e=> selectedCategoriesChanged(e)"
                  SelectionMode=" DropdownListSelectionMode.Checkbox"
                  MaxMenuHeight="200px">
        Select item
    </DropdownList>
    <ValidationMessage For="@(() => Product.CategoryIds)" />




    <button type="submit" class="btn btn-primary mt-2">

        @if (Product.Id == 0)
        {
            <span>Add</span>
        }
        else
        {
            <span>Update</span>
        }
    </button>


</EditForm>

@code {
    [Parameter]
    public Product Product { get; set; }

    [Parameter]
    public List<Category> Categories { get; set; }

    private List<int> selectedCategories = new List<int>();

    [Parameter]
    public EventCallback<Product> OnSaveProduct { get; set; }



    protected override void OnParametersSet()
    {
        Logger.LogInformation("ProductForm: OnParametersSet {Product}", JsonConvert.SerializeObject(Product));

        if (Product.Categories != null)
        {
            selectedCategories = Product.Categories.Select(x => x.Id).ToList();
            Product.CategoryIds = selectedCategories;
        }
    }


    private void selectedCategoriesChanged(IReadOnlyList<int> e)
    {
        Logger.LogInformation("ProductForm: selectedCategoriesChanged {e}", e);
        selectedCategories = e.ToList();
        Logger.LogInformation("ProductForm: selectedCategoriesChanged {selectedCategories}", selectedCategories);
        Product.CategoryIds = selectedCategories;
    }





    private async Task SaveProduct()
    {
        await OnSaveProduct.InvokeAsync(this.Product);

    }
}
