@using FrontStore.Model

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Products</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Categories</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Product in Products)
                    {
                        <tr>
                            <td>@Product.Name</td>
                            <td>@Product.Price</td>
                            <td>@Product.Description</td>
                            <td>@Product.Quantity</td>

                            <td>
                                @foreach (var Category in Product.Categories)
                                {
                                    <span class="badge badge-secondary ml-1">@Category.Name</span>
                                }
                            </td>

                            <td>

                                <i class="fas fa-edit" @onclick="() => EditProduct(Product)"></i>

                                <i class="fas fa-trash" @onclick="() => DeleteProduct(Product.Id)"></i>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {


    [Parameter]
    public List<Product> Products { get; set; } = new List<Product>();

    [Parameter]
    public EventCallback<Product> OnEditProduct { get; set; }

    [Parameter]
    public EventCallback<int> OnDeleteProduct { get; set; }

    [Parameter]
    public List<Product> Categories { get; set; }

    private void EditProduct(Product Product)
    {
        OnEditProduct.InvokeAsync(Product);
    }

    private void DeleteProduct(int ProductId)
    {
        OnDeleteProduct.InvokeAsync(ProductId);
    }


}
